<h3 class="section-title">Skills</h3>
<div id="skills-section">
  <div class="skills-card">
    <h5 class="skills-title">Languages</h5>
    <div class="skills-flex">
      <div class="skill">
        <%= image_tag "french", alt: "French croissant" %>
        <p>French | Fluent</p>
      </div>
      <div class="skill">
        <%= image_tag "english", alt: "English breakfast" %>
        <p>English | Fluent</p>
      </div>
      <div class="skill">
        <%= image_tag "spanish", alt: "Spanish sangria" %>
        <p>Spanish | Intermediate</p>
      </div>
    </div>
  </div>
  <div class="skills-card">
    <h5 class="skills-title">Development</h5>
    <div class="skills-flex-dev">
      <div class="skill">
        <%= image_tag "html", alt: "HTML" %>
        <p>HTML5</p>
      </div>
      <div class="skill">
        <%= image_tag "css3", alt: "CSS" %>
        <p>CSS3</p>
      </div>
      <div class="skill">
        <%= image_tag "sass", alt: "SASS" %>
        <p>SASS</p>
      </div>
      <div class="skill">
        <%= image_tag "bootstrap", alt: "Bootstrap" %>
        <p>Bootstrap</p>
      </div>
      <div class="skill">
        <%= image_tag "javascript", alt: "JavaScript" %>
        <p>JavaScript</p>
      </div>
      <div class="skill">
        <%= image_tag "jquery", alt: "jQuery" %>
        <p>jQuery</p>
      </div>
      <div class="skill">
        <%= image_tag "ruby", alt: "Ruby" %>
        <p>Ruby</p>
      </div>
      <div class="skill">
        <%= image_tag "rails", alt: "Rails" %>
        <p>Rails</p>
      </div>
      <div class="skill">
        <%= image_tag "postgresql", alt: "PostgreSQL" %>
        <p>PostgreSQL</p>
      </div>
      <div class="skill">
        <%= image_tag "github", alt: "GitHub" %>
        <p>GitHub</p>
      </div>
      <div class="skill">
        <%= image_tag "heroku", alt: "Heroku" %>
        <p>Heroku</p>
      </div>
      <div class="skill">
        <p>SQL</p>
      </div>
      <div class="skill">
        <p>JSON API</p>
      </div>
      <div class="skill">
        <p>Nokogiri</p>
      </div>
      <div class="skill">
        <p>ActiveRecord</p>
      </div>
    </div>
  </div>
  <div class="skills-card">
    <h5 class="skills-title">Office</h5>
    <div class="skills-flex-dev">
      <div class="skill">
        <p>Pack Office</p>
      </div>
      <div class="skill">
        <p>Zendesk</p>
      </div>
      <div class="skill">
        <p>JIRA</p>
      </div>
      <div class="skill">
        <p>Wordpress</p>
      </div>
      <div class="skill">
        <p>Wix</p>
      </div>
      <div class="skill">
        <p>Figma</p>
      </div>
      <div class="skill">
        <p>Notion</p>
      </div>
      <div class="skill">
        <p>Trello</p>
      </div>
    </div>
  </div>
  <div class="skills-card">
    <h5 class="skills-title">Soft skills</h5>
    <p></p>
    <p></p>
  </div>
</div>
