<div class="home-background-image">
  <%= image_tag "wagon-anne", alt: "mac", class: 'home-image' %>
  <h2>Junior full-stack developer.</h2>
</div>

<div class="content">

  <%= render 'sections/about' %>
  <%= render 'sections/experience' %>
  <%= render 'sections/project' %>
  <%= render 'sections/skills' %>

</div>
